## A quick glance at numbers

### Objectives
* Operating on numbers in Python
* The different datatypes for numbers
* Boolean values and how we can use them in our code
* Deciding which datatypes to use in our program

All of us are familiar with numbers.  1492 is a number.  So is 34.  If we think about what the common operations are with numbers, we get a pretty good idea for what Python allows us to do with numbers.

In [1]:
5+5

10

**Ask students to try different arithmatical and logical operators on numbers including** +,-,x,/,<,>,<=, >=, != etc. 

Numerical data may exist as int, float, long and complex. For this lesson we shall focus on int and float data types.

In [2]:
# To check the data type of a number
type(10)

int

In [3]:
type(4.17)

float

Python is simply indicating that a number without a decimal is called an `int` for integer, and a number with a decimal is called a `float`. For now, we can think of both of these as numbers.

When adding a float to an int, the answer resolves to a float data type as shown below

### What is a boolean?

**NOTE: Spend a few minutes explaining the origins of boolean logic and its importance in propositional calculus and how it provides foundations for intelligent/smart systems. A good summary of this information is available on (Wikipedia)** [https://en.wikipedia.org/wiki/Boolean_data_type)

The boolean data type has only two possible values: **True** or **False**.

In [5]:
type(True)

bool

In [7]:
type(False)

bool

In [8]:
type(anything_else)

NameError: name 'anything_else' is not defined

It's fairly rare for programmers to explicitly write the word `True` or `False`.  Instead our programs can respond to questions for us in this form.  We have already seen one such example:

In [9]:
"Homer Simpson".endswith("Simpson")

True

In [10]:
"Homer Simpson".endswith("Homer")

False

And as you might imagine, a boolean can be returned from a math operation as well.

**NOTE: Ask students to use logical operators with numbers, as described earlier including >, <, = etc.**

In [11]:
3 * 5 < 10

False

You will see later on that by utilizing these returned booleans, we can make decisions with our code. For example: send this email if a user's last name is Simpson, or send an invite if the user is in a target age group. We aren't there yet, but we'll get there!

### Datatypes as a choice

> "Bad programmers worry about the code. Good programmers worry about data structures and their relationships." - Torvald 

For now, it's interesting to think of how methods allow us to change between datatypes and to think of when we may want our data to be in one datatype versus another.  We started this lesson by saying that 34 is a number.  But what if it's not?

In [12]:
"west 34th street"

'west 34th street'

We could make the argument that in certain contexts, like an address, it is text.  In others, when we are judging distance in blocks it feels like a number.  So how do we decide?  

The answer is by really thinking about what we want to do with the data.  If we want to capitalize all of the words in the string, to mail a letter (which I admit, sounds awful), we should keep the data in the format of a string.

In [13]:
"34th street".title()

'34Th Street'

What if we are trying to ask if a number in that string is larger than another number?  For example, a restaurant that only delivers food below 22nd street might use a program to write something like:

In [14]:
34 < 22

False

But would a method like less than ( `<` ) work with a string? Does it make sense for a string or text to answer whether it is less than or greater than a number? Trying things is free, so let's give it a shot.

**Ask students to use the address data above (34th Street, a string) with a logical operator and discuss results**

In [15]:
"34th street" < 22

TypeError: '<' not supported between instances of 'str' and 'int'

Well, now we know for sure.  So, if we want to help our restaurant with deliveries, we should convert our number from a string to a number and then make the comparison.

In [16]:
int('34') < 22

False

In [18]:
int('34') > 22

True

And if we want to go from a number to a string, for example to produce an address, we again need to pay attention to the type.

In [19]:
str(34) + 'th Street'

'34th Street'

Here we saw our first method for switching between types: simply write the name of the type followed by parentheses and the data on which we want to operate. After introducing this pattern, we can start to explore with others types such as the boolean.

**NOTE: Describe how 0 represents a False value (nothingness) and anything other than 0 would be True (having some value)**

In [20]:
bool(100)

True

In [21]:
bool(0)

False

Great, so we can coerce a number to a boolean as well.  And we are beginning to think about keeping our data in one form or another based on what we want to do with that data.    

### Summary

In this section, we introduced two new types of data: numbers and booleans. We saw that numbers allow us to perform standard math operations, and we saw that booleans answer whether something is True or False, and serve as a way our program or different methods can respond to questions.

We have seen almost all of our Python datatypes, we talked about how to choose a datatype, and we talked about how to switch between datatypes.  We said that we choose a datatype based on the capabilities that we want to give to that data: should it answer whether it is larger or smaller, or does it make sense to capitalize? The goal of this discussion is to begin thinking about why we decide to put data in specific types (i.e. string, number, boolean). We also introduced coercion methods like `bool` and `str` that switch between datatypes.